@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply scroll-smooth overflow-x-hidden overscroll-contain m-0 p-0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }

  *, *::before, *::after {
    @apply m-0 p-0 box-border no-underline 
  }

  body {
    @apply m-0 p-0 dark:bg-[#151c2c] text-slate-800 dark:text-stone-200 font-round
  }

  img {
    @apply w-full h-full object-cover object-center cursor-pointer
  }

  h2 {
    @apply text-4xl sm:text-5xl font-poppins font-semibold mt-0 mb-10 lg:mt-10 px-2 text-center pt-20
  }

  p {
    @apply text-lg p-px my-0.5 lg:text-xl
  }

  [type='text'],
  [type='email'],
  textarea {
    @apply bg-transparent w-full border-slate-300 rounded-lg shadow-sm 
      focus:outline-none focus:border-pink-400 focus:ring-0 mb-3 
      caret-pink-500 text-lg text-slate-400 border 
      border-solid outline-none ring-0 h-auto resize-none
  }

  textarea {
    @apply h-40
  }
}

@layer utilities{
  .bg {
   @apply bg-[#151c2c]
  }

  .bgSoft {
    @apply bg-[#182237]
  }

  .bgLight {
    @apply bg-slate-300
  }

  .bgLightSoft {
    @apply bg-slate-200
  }

  .line {
    @apply border-solid border-sky-500
  }

  .lineSoft {
    @apply border-solid border-sky-400
  }

  .sectionWidth {
    @apply max-w-7xl mx-auto
  }

  .icon {
    @apply inline-block text-2xl
  }

  .transitionEffect {
    @apply transition-all duration-300 delay-100 ease-linear
  }

  .navlink {
    @apply h-px mt-1 w-0 border-0 opacity-0 invisible group-hover:w-[60%] group-hover:border group-hover:line group-hover:opacity-100 group-hover:visible 
    transition-all duration-300 delay-100 ease-linear block before:w-0 before:border-0 before:opacity-0 before:invisible before:absolute 
    group-hover:before:border group-hover:before:line group-hover:before:opacity-100 group-hover:before:visible before:left-[65%] group-hover:before:w-[18%] 
    before:transition-all before:duration-300 before:delay-100 before:ease-linear after:transition-all after:duration-300 after:delay-100 after:ease-linear
    before:h-px before:-mt-px after:w-0 after:border-0 after:opacity-0 after:invisible after:absolute group-hover:after:border group-hover:after:line 
    group-hover:after:opacity-100 group-hover:after:visible after:left-[88%] group-hover:after:w-[12%] after:h-px after:-mt-px
  }

  .active {
    @apply w-[60%] border line h-px mt-1 block before:absolute before:border before:line before:left-[65%] before:w-[18%] before:h-px before:-mt-px
    after:absolute after:border after:line after:left-[88%] after:w-[12%] after:h-px after:-mt-px
  }

  .contactImage {
    background-image: url('./asset/image/handshake.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
  }
}
